.table {
	direction: rtl;
	width: 100%;
	max-width: calc(100vw - 2rem);
	overflow-x: auto;
}

// .table {
// 	direction: rtl;
// 	width: 100%;
// 	max-width: calc(100vw - 2rem);
// 	overflow-x: auto;

// 	& :global(.MuiDataGrid-root) {
// 		font-family: inherit;
// 		border: none;

// 		:global {
// 			& .MuiDataGrid-columnHeaders {
// 				color: var(--bl-on-surface-variant);
// 				background: var(--bl-surface-container-low);
// 				border: none;
// 				min-height: 36px !important;
// 				border-top-left-radius: 1rem;
// 				border-top-right-radius: 1rem;
// 			}
// 			& .MuiDataGrid-columnHeader {
// 				font-size: 0.75rem;
// 				height: 36px !important;
// 				font-weight: 500 !important;

// 				&:focus {
// 					outline: none;
// 				}

// 				&:focus-within {
// 					outline: 'none';
// 				}
// 			}

// 			& .MuiDataGrid-cell {
// 				justify-content: center;
// 			}
// 			& .MuiDataGrid-row {
// 				font-weight: 500;
// 				font-size: 0.875rem;
// 				color: var(--bl-on-surface);

// 				&:nth-child(even) {
// 					background: var(--bl-surface-bright) !important;
// 				}

// 				&.Mui-selected {
// 					background-color: transparent;
// 				}
// 			}

// 			.MuiDataGrid-columnHeaderTitleContainer {
// 				justify-content: center;
// 			}

// 			& .MuiDataGrid-cell {
// 				outline: none;
// 				border-bottom: none;

// 				&:focus {
// 					outline: none;
// 				}
// 			}

// 			& .MuiTablePagination-selectLabel {
// 				margin-bottom: 0;
// 			}

// 			& .MuiTablePagination-displayedRows {
// 				margin-bottom: 0;
// 			}

// 			& .MuiTablePagination-displayedRows,
// 			.MuiTablePagination-selectLabel {
// 				font-size: 0.75rem;
// 				font-family: inherit;
// 				margin-bottom: 0;
// 			}
// 		}
// 	}
// }
