.wrapper {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 3rem 0rem !important;
	margin: 0 auto;
	max-width: 90%;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2rem;

	&__title {
		display: flex;
		align-items: center;
		gap: 1rem;
	}
}

.title {
	color: var(--bl-on-surface);
	font-size: 1.2rem;
	font-weight: 600;
}

.infoBox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	border-radius: 0.5rem;
	height: 10rem;
	box-shadow:
		0 0 1px rgba(0, 0, 0, 0.125),
		0 1px 3px rgba(0, 0, 0, 0.2);
	margin-bottom: 2rem;

	&__title {
		color: #fefefe;
		font-weight: bold;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		height: 100%;

		&__counter {
			font-size: 40px;
			font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
				Geneva, Verdana, sans-serif;
		}

		&Dark {
			color: #212121;
		}
	}

	&__icon {
		font-size: 4rem !important;
		color: rgba(0, 0, 0, 0.15) !important;
	}
}

.primaryBox {
	background: #17a2b8;
}

.successBox {
	background: #28a745;
}

.warningBox {
	background: #ffc107;
}

.chartBox, .chartBox__Big {
	display: flex;
	flex-direction: column;
	padding: 1.5rem;
	border-radius: 0.5rem;
	height: 20rem;
	box-shadow:
		0 0 5px rgba(0, 0, 0, 0.125),
		0 4px 6px rgba(0, 0, 0, 0.2);
	margin-bottom: 2rem;
	background-color: #fefefe;

	&__Big {
		height: 30rem;
	}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 1rem;

		&__title {
			color: var(--bl-on-surface);
			font-size: 1rem;
			font-weight: 600;
		}
	}
}

@media (min-width: 1200px) {
	.wrapper {
		padding: 0;
	}
}
